<%= link_to 'Home', root_path %>
<h1>Delete Book</h1>

<div>
<%= form_with(model: @book, url: main_path(@book), method: :delete) do |f| %>
<% # url: main_path(@book), method: "delete" %>

<p>Are you sure you want to permenently delete this book?</p>

<p> <%= @book.title %>

<div class="form-buttons">
    <%= f.submit("Delete book") %>
</div>

<% end %>
</div>
