<h1>Book Collection:</h1>

<ul>
<li>Book name</li>
<li>Second book</li>
</ul>

<%= link_to('Add Book', books_path)%> <br/>
<%= link_to('Show details', show_details_path)%> <br/>
<%= link_to('Update Books', update_books_path)%> <br/>
<%= link_to('Delete Books', delete_books_path)%> <br/>